* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Roboto', Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.378);
}

.box {
  font-size: 2.5rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turn {
  font-size: 1.1rem;
  text-align: center;
  background-color: greenyellow;
  padding: 5px 0;
  opacity: 0;
}

.show {
  opacity: 1;
}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
  border: 2px solid black;
}

.cells > .box{
  cursor: pointer;
}

.text-box > img {
  height: 32px;
  width: auto;
}

span {
  transition: all .15s ease;
}

span:hover {
  transform: scale(1.1);
}