*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-theme: #97DBAE;
    --text-color: white;
    --announcement-theme: #5F7464;
    --cell-size: 100px;
}

body {
    
}

main {
    background-color: var(--main-theme);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 500px;

    gap: 50px;
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
}

.cell {
    border: 2px solid black;
    transition: all 0.2s ease;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell-1, .cell-2, .cell-3 {
    border-top: 0;
}

.cell-1, .cell-4, .cell-7{
    border-left: 0;
}

.cell-7, .cell-8, .cell-9{
    border-bottom: 0;
}

.cell-3, .cell-6, .cell-9{
    border-right: 0;
}

.controls > button {
    font-size: 1.5rem;
    padding: 8px 15px;
    border-radius: 15px;
    background-color: #39AEA9;
    color: white;
    border-color: white;
}

.cell.x::before,
.cell.x::after,
.cell-container.x .cell:not(.x):not(.o):hover::before, /* when the cell-container has x class, select the cell that DOES NOT have x or o, when we hover it, the before element will ... */
.cell-container.x .cell:not(.x):not(.o):hover::after { /* when the cell-container has x class, select the cell that DOES NOT have x or o, when we hover it, the after element will ... */
    position: absolute;
    content: '';
    width: calc(var(--cell-size) * .15);
    height: var(--cell-size);
    background-color: black;
}

.cell.x::before,
.cell-container.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.cell-container.x .cell:hover::after{
    transform: rotate(-45deg);
}

.cell.o::before, /* when the cell has the class 'o', the before element will...*/
.cell.o::after, /* when the cell has the class 'o', the after element will...*/
.cell-container.o .cell:not(.x):not(.o):hover::before,
.cell-container.o .cell:not(.x):not(.o):hover::after {
    position: absolute;
    content: '';
    height: calc(var(--cell-size) * .9);
    width: calc(var(--cell-size) * .9);
    border-radius: 100%;
    border: calc(var(--cell-size) * .15) solid black;
    background-color: black;
}

.cell.o::after,
.cell-container.o .cell:not(.x):not(.o):hover::after {
    background-color: var(--main-theme);
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}




.announcement-container {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    display: none;

    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.announcement-container.show {
    display: flex;
    opacity: 1;
    animation: fadeInFromNone 0.5s ease-out;
}



.announcement-container.show .announce-winner {
    padding: 40px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    color: var(--text-color);
    text-align: center;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}